<h2 class="colorDimgray">Video Info</h2>

<ng-template #loading>
    <div fxLayout fxLayoutAlign="center">
        <md-spinner color="primary"></md-spinner>
    </div>
</ng-template>

<div *ngIf="!isVideoSearching; else loading">

    <ng-template #noResult>
        <em>No video</em>
    </ng-template>

    <div *ngIf="youtubeVideo; else noResult">

        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
            <iframe fxFlex="50" fxFlex.md="100" fxFlex.xs="100" [src]='youtubeVideo.embedUrl' height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

            <div fxFlex="50" fxFlex.md="100" fxFlex.xs="100">
                <h2>
                    <a [href]="searchData.url" target="_blank">{{youtubeVideo.title}}</a>
                </h2>
                <p><span mdTooltip="Published Date" mdTooltipPosition="right">{{youtubeVideo.publishedAt | date:"MM/dd/yy"}}</span></p>
                <p><span mdTooltip="Duration" mdTooltipPosition="right">{{youtubeVideo.duration }}</span></p>
                <p><span mdTooltip="Views" mdTooltipPosition="right">{{youtubeVideo.viewCount | number}} Views</span></p>
                <p><span mdTooltip="Comments" mdTooltipPosition="right">{{youtubeVideo.commentCount | number}} Comments</span></p>
                <p>
                    <span mdTooltip="Like" mdTooltipPosition="below"><md-icon>thumb_up</md-icon> {{youtubeVideo.likeCount | number}}</span>
                    <span mdTooltip="Dislike" mdTooltipPosition="below"><md-icon>thumb_down</md-icon> {{youtubeVideo.dislikeCount | number}}</span>
                </p>
                <div style="max-height: 200px; overflow-y: auto;">
                    {{youtubeVideo.description}}
                </div>

                <div class="margin-top-30">
                    <md-select style="min-width: 190px;" placeholder="video" [(ngModel)]="selectedVideo" name="video">
                        <md-option *ngFor="let youtubeVideo of youtubeVideo.youtubeVideoInfos" [value]="youtubeVideo">
                            <span *ngIf="youtubeVideo.resolution != 0 && youtubeVideo.audioBitrate != 0; else videoOrSound">{{youtubeVideo.resolution}}p - {{youtubeVideo.fileSize}}</span>
                            <ng-template #videoOrSound>
                                <span *ngIf="youtubeVideo.resolution != 0; else noSound">{{youtubeVideo.resolution}}p (mute) - {{youtubeVideo.fileSize}}</span>
                                <ng-template #noSound>
                                    AAC (audio) - {{youtubeVideo.fileSize}}
                                </ng-template>
                            </ng-template>
                        </md-option>
                    </md-select>

                    <button md-raised-button color="primary" (click)="downloadVideo()">
                        <span *ngIf="selectedVideo?.audioBitrate==0; else resolutionTemplate">
                            <md-icon class="wrongPositionOfMdIcon ">volume_off</md-icon>　　Download
                        </span>
                        <ng-template #resolutionTemplate>
                            <span *ngIf="selectedVideo?.resolution==0; else videoTemplate">
                                <md-icon class="wrongPositionOfMdIcon ">audiotrack</md-icon>　　Download
                            </span>
                            <ng-template #videoTemplate>
                                <md-icon>videocam</md-icon> Download
                            </ng-template>
                        </ng-template>
                    </button>

                </div>

                <div *ngIf="youtubeVideo.youtubeCaptionInfos.length> 0" class="margin-top-25">
                    <md-select style="min-width: 190px;" placeholder="subtitle" [(ngModel)]="selectedCaption" name="caption">
                        <md-option *ngFor="let youtubeCaption of youtubeVideo.youtubeCaptionInfos" [value]="youtubeCaption">
                            {{youtubeCaption.languageFullName}} ({{youtubeCaption.language}})
                        </md-option>
                    </md-select>

                    <button md-raised-button color="warn" (click)="downloadCaption()">
                        <md-icon>closed_caption</md-icon> Download
                    </button>
                </div>

                <div style="margin-bottom: 20px;">
                </div>
            </div>
        </div>
    </div>
</div>