<app-search [searchData]="searchData" (youtubeVideoEvent)="youtubeVideo.getYoutubeVideo($event)" (youtubePlaylistEvent)="youtubePlaylist.getYoutubePlaylist($event)"></app-search>

<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column">
    <md-card fxFlex="70" fxFlex.xs="100" fxFlex.md="80">
        <app-youtube-video #youtubeVideo [searchData]="searchData"></app-youtube-video>
    </md-card>

    <md-card fxFlex="30" fxFlex.xs="100" fxFlex.md="20">
        <app-youtube-playlist #youtubePlaylist [searchData]="searchData" (youtubeVideoEvent)="youtubeVideo.getYoutubeVideo($event)"></app-youtube-playlist>
    </md-card>
</div>