<app-search [searchData]="searchData"
            (youtubeVideoEvent)="youtubeVideo.getYoutubeVideo($event)"
            (youtubePlaylistEvent)="youtubePlaylist.getYoutubePlaylist($event)"></app-search>

<div fxLayout="row"
     fxLayout.xs="column"
     fxLayout.sm="column"
     fxLayout.md="column"
     fxLayoutGap="5px">
  <mat-card fxFlex="60"
            fxFlex.xs="100"
            fxFlex.md="80">
    <app-video #youtubeVideo
               [searchData]="searchData"></app-video>
  </mat-card>

  <mat-card fxFlex="40"
            fxFlex.xs="100"
            fxFlex.md="20">
    <app-playlist #youtubePlaylist
                  [searchData]="searchData"
                  (youtubeVideoEvent)="youtubeVideo.getYoutubeVideo($event)"></app-playlist>
  </mat-card>
</div>
