<app-search [searchData]="searchData"
            (searchVideo)="onSearchVideo($event)"
            (searchPlaylist)="onSearchPlaylist($event)"></app-search>

<div fxLayout="row"
     fxLayout.xs="column"
     fxLayout.sm="column"
     fxLayout.md="column"
     fxLayoutGap="5px">
  <mat-card fxFlex="60"
            fxFlex.xs="100"
            fxFlex.md="80">
    <app-video [searchData]="searchData"
               [video]="video"
               [selectedVideoInfo]="selectedVideoInfo"
               [selectedCaptionInfo]="selectedCaptionInfo"
               [isLoadingVideo]="isLoadingVideo"
               (downloadVideo)="onDownloadVideo()"
               (downloadCaption)="onDownloadCaption()"
               (changeSelectedVideoInfo)="onChangeSelectedVideoInfo($event)"
               (changeSelectedCaptionInfo)="onChangeSelectedCaptionInfo($event)"></app-video>
  </mat-card>

  <mat-card fxFlex="40"
            fxFlex.xs="100"
            fxFlex.md="20">
    <app-playlist [searchData]="searchData"
                  [video]="video"
                  [playlist]="playlist"
                  [isLoadingPlaylist]="isLoadingPlaylist"
                  [isLoadingPlaylistItems]="isLoadingPlaylistItems"
                  (searchVideo)="onSearchVideo($event)"
                  (searchPlaylist)="onSearchPlaylist($event)"></app-playlist>
  </mat-card>
</div>
