$color-white-lilac-blue: #ededee;
$color-piction-blue-blue: #639ed9;
$color-suva-grey-grey: #8e8e8e;
$color-charcoal-grey: #4a4a4a;
$color-charcoal-grey-faded: rgba(8, 7, 7, 0.5);
$color-white-white: #ffffff;
$color-silver-grey: #bdbdbd;
$color-silver-grey-faded: rgba(155, 155, 155, 0.4);
$color-gainsboro-white: #d8d8d8;
$color-gainsboro-white-light: rgba(216, 216, 216, 0.2);
$color-white-light-grey: #fafafa;
$color-white-smoke-white-light: #f8f8f8;
$color-dark-gray-grey: #a4a4a4;
$color-maya-blue-blue: #5badff;
$color-black-black: #000000;
$color-turquoise-blue: #50e3c2;
$color-nero-grey: #252525;
$color-white-smoke-white: #f0f0f0;
$color-orient-blue: #1a4766;
$color-endeavour-blue: #23618b;
$color-endeavour-blue-light: rgba(35, 97, 139, 0.75);
$color-bali-hai-blue: #879ead;
$color-wedgewood-blue: #4b6883;
$color-light-slate-grey: #7E92A0;
$color-nobel-grey: #9c9c9c;
$color-cinnabar-red: #e0403d;
$color-fern-green: #5cb85c;
$color-valencia-red: #d9534f;
$color-venetian-red-red: #d0021b;
$color-mulled-wine-violet: #4f4d59;
$color-smoky-violet: #62606c;
$color-matterhorn-grey: #4f4f4f;
$color-horizon-blue: #68869a;
$color-nobel-grey: #9b9b9b;
$color-ruby-red: #e91e63;
$color-sunglow-orange: #FFD740;
