.wrongPositionOfMdIcon {
    position: absolute;
    top: 5px;
}

.colorDimgray {
    color: dimgray;
}

.progress-small {
    width: 30px;
}

.mat-form-field.select-form-right-gap {
  padding-right: 10px;
}
