<h2 class="video-info">Video Info</h2>

<div *ngIf="isLoadingVideo; else content">
  <div fxLayout
       fxLayoutAlign="center">
    <mat-spinner color="primary"
                 diameter="50"></mat-spinner>
  </div>
</div>

<ng-template #content>
  <div *ngIf="video; else noResult">
    <div fxLayout="row"
         fxLayout.xs="column"
         fxLayoutGap="20px">
      <iframe fxFlex="50"
              fxFlex.md="100"
              fxFlex.xs="100"
              height="400"
              frameborder="0"
              webkitallowfullscreen
              mozallowfullscreen
              allowfullscreen
              [src]='video.embedUrl'></iframe>

      <div fxFlex="50"
           fxFlex.md="100"
           fxFlex.xs="100">
        <h2 class="title">
          <a target="_blank"
             [href]="searchData.url">{{video.title}}</a>
        </h2>
        <p>
          <span class="video-text"
                mdTooltip="Published Date"
                mdTooltipPosition="right">{{video.publishedAt | date:"MM/dd/yy"}}</span>
        </p>
        <p>
          <span class="video-text"
                mdTooltip="Duration"
                mdTooltipPosition="right">{{video.duration }}</span>
        </p>
        <p>
          <span class="video-text"
                mdTooltip="Views"
                mdTooltipPosition="right">{{video.viewCount | number}} Views</span>
        </p>
        <p>
          <span class="video-text"
                mdTooltip="Comments"
                mdTooltipPosition="right">{{video.commentCount | number}} Comments</span>
        </p>
        <p>
          <span class="video-text"
                mdTooltip="Like"
                mdTooltipPosition="below">
                <mat-icon>thumb_up</mat-icon> {{video.likeCount | number}}</span>
          <span class="video-text dislike"
                mdTooltip="Dislike"
                mdTooltipPosition="below">
                <mat-icon>thumb_down</mat-icon> {{video.dislikeCount | number}}</span>
        </p>
        <div class="video-description video-text">
          {{video.description}}
        </div>

        <div class="margin-top-30">
          <mat-form-field class="select-form-right-gap">
            <mat-select class="select"
                        name="video"
                        placeholder="video"
                        [(ngModel)]="selectedVideoInfo">
              <mat-option *ngFor="let videoInfo of video.videoInfos"
                          [value]="videoInfo">
                <span *ngIf="videoInfo.resolution != 0 && videoInfo.audioBitrate != 0; else videoOrSound">{{videoInfo.resolution}}p - {{videoInfo.fileSize}}</span>
                <ng-template #videoOrSound>
                  <span *ngIf="videoInfo.resolution != 0; else noSound">{{videoInfo.resolution}}p (mute) - {{videoInfo.fileSize}}</span>
                  <ng-template #noSound>
                    AAC (audio) - {{videoInfo.fileSize}}
                  </ng-template>
                </ng-template>
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-raised-button
                  color="primary"
                  (click)="downloadVideo.emit()">
                <span *ngIf="selectedVideoInfo?.audioBitrate === 0; else resolutionTemplate">
                  <mat-icon class="download-icon">volume_off</mat-icon>　　Download
                </span>
                <ng-template #resolutionTemplate>
                  <span *ngIf="selectedVideoInfo?.resolution === 0; else videoTemplate">
                    <mat-icon class="download-icon">audiotrack</mat-icon>　　Download
                  </span>
                  <ng-template #videoTemplate>
                    <mat-icon>videocam</mat-icon> Download
                  </ng-template>
                </ng-template>
              </button>
        </div>

        <div *ngIf="video.captionInfos.length> 0"
             class="margin-top-10">
          <mat-form-field class="select-form-right-gap">
            <mat-select class="select"
                        name="caption"
                        placeholder="subtitle"
                        [(ngModel)]="selectedCaptionInfo">
              <mat-option *ngFor="let captionInfo of video.captionInfos"
                          [value]="captionInfo">
                {{captionInfo.languageFullName}} ({{captionInfo.language}})
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-raised-button
                  color="warn"
                  (click)="downloadCaption.emit()">
                <mat-icon>closed_caption</mat-icon> Download
              </button>
        </div>

        <div class="video-panel-bottom-gap">
        </div>
      </div>
    </div>
  </div>

  <ng-template #noResult>
    <em>No video</em>
  </ng-template>
</ng-template>
