<h2 class="playlist-text">PlayList / Channel</h2>

<div *ngIf="isLoadingPlaylist; else content">
  <div fxLayout
       fxLayoutAlign="center">
    <mat-spinner color="accent"
                 diameter="50"></mat-spinner>
  </div>
</div>

<ng-template #content>
  <div *ngIf="playlist; else noResult">
    <em class="playlist-text"><strong><span *ngIf="playlist.isPlaylist">Playlist</span><span *ngIf="!playlist.isPlaylist">Channel</span> ({{playlist.playlistInfos.length}} of {{playlist.totalCount}})</strong></em>
    <div class="playlist-panel">
      <div *ngFor="let playlistInfo of playlist.playlistInfos"
           class="playlistinfo"
           [class.selected]="video?.id === playlistInfo.videoId"
           (click)="onClick(playlistInfo.videoId)">
        <div fxLayout="row"
             fxLayoutGap="5px">
          <img [src]="playlistInfo.thumbnailUrl"
               fxFlex="30"
               fxFlex.md="25"
               fxFlex.xs="30"
               height="125" />

          <div fxFlex="70"
               fxFlex.md="75"
               fxFlex.xs="70">
            <strong>{{playlistInfo.title}}</strong>
            <p *ngIf="playlist.isPlaylist"><strong>({{playlistInfo.position + 1}})</strong> {{playlistInfo.channelTitle}}</p>
            <p><em>{{playlistInfo.publishedAt}}</em></p>
          </div>
        </div>
      </div>

      <div fxLayout="column"
           fxLayoutAlign="center center"
           class="margin-top-20">
        <mat-spinner *ngIf="isLoadingPlaylistItems"
                     class="margin-bottom-10"
                     color="accent"
                     diameter="30"></mat-spinner>

        <button mat-raised-button
                color="primary"
                *ngIf="playlist.playlistInfos.length != playlist.totalCount"
                [disabled]="isLoadingPlaylistItems"
                (click)="searchPlaylist.emit(false)">
            Show more
        </button>
      </div>
    </div>
  </div>

  <ng-template #noResult>
    <em>No list</em>
  </ng-template>
</ng-template>
