<div fxLayout="row"
     fxLayoutAlign="center center"
     fxLayoutGap="10px"
     class="margin-top-10 margin-bottom-15">
  <mat-form-field fxFlex="70"
                  fxFlex.lg="40"
                  fxFlex.xl="40"
                  appearance="outline">
    <mat-label>Video URL</mat-label>
    <input matInput
           type="search"
           placeholder="Please enter youtube video URL"
           [(ngModel)]="searchData.inputUrl"
           (keyup.enter)="searchClick()"
           (keyup)="searchInput($event)">
  </mat-form-field>

  <button fxFlex="5"
          class="search-button"
          mat-raised-button
          color="accent"
          [disabled]="searchData.inputUrl.length < minimumInputLength"
          (click)="searchClick()">Search</button>
</div>

<div fxLayout="column"
     fxLayoutAlign="center center"
     fxLayoutGap="15px"
     fxLayoutGap.xs="0"
     class="example-url-panel">
  <div></div>
  <div fxLayout="row"
       fxLayoutAlign="center center"
       fxLayoutGap="5px"
       class="example-url"
       (click)="onClickExampleUrl()">
    <span>ex)</span>
    <span>{{exampleUrl}}</span>
  </div>
</div>
