<div fxLayout
     fxLayoutAlign="center center"
     fxLayoutGap="10px"
     class="margin-top-10">
  <mat-form-field fxFlex="70"
                  fxFlex.lg="40"
                  fxFlex.xl="40">
    <input matInput
           type="search"
           placeholder="Youtube Url"
           [(ngModel)]="searchData.inputUrl"
           (keyup.enter)="searchClick()"
           (keyup)="searchInput($event)">
  </mat-form-field>

  <button fxFlex="5"
          mat-raised-button
          color="accent"
          [disabled]="searchData.inputUrl.length < minimumInputLength"
          (click)="searchClick()">Search</button>
</div>
